footer
    position: relative
    .toparrondi
        background-image: url(../../public/images/footer_bottom_decoration_img.png)
        width: 100%
        height: 10%
        background-repeat: repeat-x
        position: absolute

#footer
    background-image: url(../../public/images/footer_background.jpg)
    background-repeat: no-repeat
    height: cover
    width: cover
    .aboutUs
        padding: 2% 1% 3% 5%

#bouttonsfooter
    button
        background-color: $red
        border-radius: 30px
        border: $white solid 1px
        padding: 1% 3%
        margin: 0.5%
        color: $white

#footerRouge
    height: 100px
    width: 100%
    background-color: $red
    margin-top: 2%