header
    background: linear-gradient(rgba(22, 20, 20, 0.877), rgba(0, 0, 0, 0.45)),url("../images/banner1.jpg")
    background-size: cover
    background-repeat: no-repeat
    height: 500px
    nav
        
        .link
            border-top: gray solid 2px
            border-bottom: gray solid 2px
            width: 35%
            a
                padding: 3% 3%
                color: $white
                font-weight: bold
            a:hover
                background-color: $red
        .logo
            padding: 1% 2%
            width: 12%
