body
    margin: 0%
    header
        background: linear-gradient(rgba(22, 20, 20, 0.877), rgba(0, 0, 0, 0.849)),url("../images/banner1.jpg")
        background-size: cover
        background-repeat: no-repeat
        height: 100vh
        position: relative
        nav
                .divlink
                    border-top: $gray solid 1px
                    border-bottom: $gray solid 1px
                    // width: 35%
                    margin: 2.5% 0% 1% 0%
                    .link
                        padding: 3% 0%
                        color: $white
                        font-weight: bold
                        &:hover
                            background-color: $red
                .logo
                    width: 12%
                    a
                        padding-bottom: 0.5%

        #carouselExampleSlidesOnly
            ol
                li
                    width: 15px
                    height: 15px
                    border-radius: 100%
                .active
                    border: 4px $gray-dark solid
                    width: 13px
                    height: 13px
            div
                height: 80vh
                .slide
                    p
                        color: $white
                        font-size: 50px
                        font-family: Courgette
                        width: 65%
                    .grand
                        font-size: 70px
                    .rouge
                        color: $red
                    .boutons
                        .bouton
                            font-weight: light
                            border: none
                            border-radius: 30px
                        .boutonR
                            background-color: $red
                            color: $white
        .bottomarrondi
            background-image: url("../../public/images/bottom_decoration_img.png")
            position: absolute
            width: 100%
            height: 10%
            top: 99%
            background-repeat: repeat-x

            

@media screen and (min-width: 1024px)
    nav
        #resp
            display: none
            visibility: hidden
        #divlink
            width: 75%
            a
                width: 25%

//Medium screen 
@media screen and (min-width: 600px) and (max-width: 1023px)
    nav
        #resp
        #divlink
            width: 100%
            a
                width: 25%
        div
            #logonav
                display: none
                visibility: hidden
                height: 0px
                width: 0px 


// Small screen
@media screen and (min-width: 320px) and (max-width: 599px)
    nav
        #resp
        #divlink
            width: 100%
            a
                width: 25%
                font-size: 10px
        div
            #logonav
                display: none
                visibility: hidden
                height: 0px
                width: 0px 
                    


        // #carouselExampleSlidesOnly
        //     p
        //         font-size: 20px
        //         width: 50%
        //     .grand
        //         font-size: 30px