body
    margin: 0%
    header
        background: linear-gradient(rgba(22, 20, 20, 0.877), rgba(0, 0, 0, 0.849)),url("../images/banner1.jpg")
        background-size: cover
        background-repeat: no-repeat
        height: 100vh
        nav
            .link
                border-top: $gray solid 2px
                border-bottom: $gray solid 2px
                width: 35%
                margin: 2.5% 0% 1% 0%
                a
                    padding: 2%
                    color: $white
                    font-weight: bold
                a:hover
                    background-color: $red
            .logo
                width: 12%
                a
                    padding-bottom: 0.5%

        #carouselExampleSlidesOnly
            div
                height: 80vh
                .slide
                    p
                        color: $white
                        font-size: 50px
                        font-family: Courgette
                        width: 65%
                    .grand
                        font-size: 70px
                    .rouge
                        color: $red
                    .boutons
                        .bouton
                            font-weight: light
                            border: none
                            border-radius: 30px
                        .boutonR
                            background-color: $red
                            color: $white

