.contenu1
    background-image: url("../../public/images/main_bg.jpg")
    .titremenu
            h1
                font-family: Courgette
                margin-bottom: 0%
                span
                    color: $red 
                    font-size: 50px

                    #list-tab
                        font-family: Courgette
