.imagebg
    background-image: url(../../public/images/book_table_bg.jpg)
    border-radius: 10px
    p
        margin: 5% 0%
        font-size: 18px
        font-weight: 300
        span
            font-size: 25px
    .radius
        border-radius: 10px
        color: $dark